.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;

	// :global(.MuiCard-root) {
	.inputCard, .outputCard {
		width: 100%;
		max-width: 400px;
		min-width: 300px;
		
		.title {
			margin: .25rem 0 1rem;
			font-weight: bold;
			color: black;
		}

		:global(.MuiFormControl-root) {
			width: 100%;
			margin-top: .75rem;
		}

		.assumptions {
			.title {
				margin: 1.5rem 0 0;
			}
		}
	}

	.hint {
		opacity: 0.6;
	}

	.outputCard {
		margin-top: 1rem;

		max-width: 700px;

		// display: flex;
		// flex-direction: row;
		// justify-content: center;
		// align-items: center;
		

		.wrap {
			width: 100%;
			overflow: auto;

			table {
				width: 100%;
				
				thead {
					td {
						font-weight: bold;
						background: #ccc;
					}
				}
				tbody {
					td.key {
						font-weight: bold;
						background: #ccc;
					}
				}

				td {
					text-align: right;
					padding: 2px 4px;
				}
			}
		}
		
	}
}